body{
    background: blue !important;
}
nav{
    background: red;
    height: 100%;
    width: 260px;
    position: fixed;
    text-align: center;
    padding-top: 10px;
    color: yellow;
    box-shadow: -15px 0px 20px 10px black;
}

nav img {
    margin: 5px;
}

nav h4{
    letter-spacing: 5px;
}

nav .navbar {
    padding: 0;
    margin-top: 25px;
}

nav .navbar .item{
    display: block;
    width: 100%;
    margin-bottom: 2px;
}

nav .navbar .item a {
    display: block;
    padding: 10px 15px;
    width: 100%;
    background: #c30000;
    color: yellow;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    transition: 0.25s;
}

nav .navbar .item a:hover {
    background: #980202;
}

nav .navbar .item a i{
    float: right;
    padding-top: 4px;
}

.content {
    padding-left: 275px !important;
}

.content h2 {
    color: yellow;
    font-weight: bold;
    text-align: center;
}

.card {
    background-color: #cacaff !important;
}

.card-header {
    background-color: #a9a9ff !important;
    padding: 5px 20px;
    font-weight: bold;
    color: blue;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #a9a9ff;
}


#browseContainer .table-bordered td:first-child {
    padding: 0;
}

.savePokeBtn i{
    color: #007bff;
    cursor: pointer;
    transition: 0.2s;
}

.savePokeBtn.selected i{
    color: rgb(192, 0, 0);
}

.savePokeBtn i:hover{
    color: red;
}

.comparePokeBtn i{
    color: #007bff;
    cursor: pointer;
    transition: 0.2s;
}

.comparePokeBtn.selected i{
    color: #90b800;
}

.comparePokeBtn i:hover{
    color: rgb(172, 169, 9);
}

#browseNextPage, #browsePreviousPage {
    cursor: pointer;
}

.tableSpinner {
    position: relative;
    left: 50%;
    font-size: 18px;
}

.compareTable tr td{
    padding: 5px 10px;
}